# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
presentation_slides.md
presentation.tex
presentation_todo.md
# Data
data/raw/
data/processed/

results/figures/
results/metrics/
results/models

# Logs
*.log
