# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Project outputs
outputs/
models/

# Data
data/raw/
data/processed/

# Logs
*.log
